<form class="pesquisa" action="/search">
    <input class = "formItens" type="text" name="search">
    <a class="buttonSearch" type="submit">Enviar</a>
</form>

{{#each top }}
<div>
    {{#if multimedia.1.url}}
    <img src="{{ multimedia.1.url }}" href="{{url}}" alt="{{url}}">
    {{/if}}
    <a href="{{url}}">{{ title }}</a>
</div>
{{/each}}