<div class="results">
  <h4>Searched word: {{q}}</h4>
  {{#each coe}}
  <a href="{{this.web_url}}" n>
    <div class="result-line">
      <div class="content">
        <h3>{{this.headline.main}}</h3>
        <p>{{this.snippet}}</p>
        <p class="author">{{this.byline.original}}</p>
      </div>
      {{#if this.multimedia.0.url}}
      <div class="result-thumbnail"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static01.nyt.com/{{this.multimedia.0.url}})">
      </div>
      {{/if}}
    </div>
  </a>
  {{/each}}
</div>