<div class="card">
        <div class = 'texts'> 
          <a href="{{this.url}}">
            <h4>{{this.title}}</h4>
            <p>{{this.abstract}}</p>
          </a>
        </div>
      {{#if this.multimedia.2.url}}
      <a href="{{this.url}}">
        <img src="{{this.multimedia.2.url}}" alt="{{this.slug_name}}.logo" class="thumbnail-img">
      </a>
      {{/if}}
</div>


